# Add any directories, files, or patterns you don't want to be tracked by version control

# PyCharm project files
/.idea
*localhost.py

# other files
*.pid

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.cache/
staticfiles/