<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Chat Example{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,200' rel='stylesheet' type='text/css'>
  {% load staticfiles %}

</head>
<body>
    <div>
        <a href="{% url 'about' %}">Home</a>
    </div>
    <div>
      {{ user }} <br/>
      {% if user.is_anonymous %}
      Please, <a href="{% url 'account_login' %}">log in</a> or <a href="{% url 'account_signup' %}">sign up</a>
      {% else %}
      <a href="{% url 'account_logout' %}">log out</a>
      {% endif %}
    </div>

  <div style="display:block;">
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
  </div>
  {% block afterbody %}{% endblock afterbody %}
</body>
</html>